<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
  <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>

<body>
  {{!-- note look in public/views/partials for header.handlebars,project-picture etc  --}}
  {{>header}}

  {{!-- start of page --}}
  {{>project-picture}}

  <table id="table_content">
    {{!-- start of content --}}
    <tr>
      {{>side-bar}} {{>content}}
    </tr>
    {{!-- end of content --}}
  </table>
  {{!-- end of page --}}

  {{>footer}}
  {{!-- {{{body}}} --}}

</body>

</html>